.router-link-active {
        
  border-bottom: #00AA00 5px solid;
}


.products {
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;

  .add {
      float: right;
  }

  .is-disabled {
      pointer-events: none;
      opacity: .7;
  }

  .product {
      flex-basis: 10em;
      margin: 1em;
      padding: 1em;
      border: 1px solid #000;
      border-radius: 5px;
      background-color: #fff;
  }

  .product-info {
      font-size: small;
  }

  .price {
      display: flex;
      align-items: flex-start;
  }

  .amount {
      font-size: x-large;
  }

}
